In [4]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
import pandas as pd

def pgconnect():
    YOUR_UNIKEY = 'zjia5829'
    YOUR_PW     = '470343256'
    DB_LOGIN    = 'y20s1d2x01_'+YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [5]:
db,conn = pgconnect()

connected

# Table StatisticalAreas

In [ ]:
conn.execute("drop table if exists StatisticalAreas;")

statistical_areas = """
create table StatisticalAreas(
    area_id varchar(50) primary key,
    area_name varchar(50),
    parent_area_id varchar(50)
)
"""

conn.execute(statistical_areas)

sa_data = pd.read_csv('StatisticalAreas.csv')
sa_data.columns = ['area_id','area_name','parent_area_id']
table_name = "statisticalareas"
sa_data.to_sql(table_name, con=conn, if_exists='append', index=False)

# Table Neighbourhoods

In [ ]:
conn.execute("drop table if exists Neighbourhoods;")

neighbourhoods = """
create table Neighbourhoods(
    area_id varchar(50) primary key,
    area_name varchar(50),
    land_area double precision,
    population integer,
    dwellings integer,
    businesses integer,
    median_income integer,
    avg_monthly_rent integer
)
"""

conn.execute(neighbourhoods)

nh_data = pd.read_csv('Neighbourhoods.csv')
nh_data.columns = ['area_id','area_name','land_area','population','dwellings','businesses','median_income','avg_monthly_rent']
table_name = "neighbourhoods"
nh_data.to_sql(table_name, con=conn, if_exists='append', index=False)

# Table PopulationStats2016

In [ ]:
conn.execute("drop table if exists PopulationStats2016;")

populationstats2016 = """
create table PopulationStats2016(
    area_id varchar(50),
    area_name varchar(50),
    age_0_4 integer,
    age_5_9 integer,
    age_10_14 integer,
    age_15_19 integer,
    age_20_24 integer,
    age_25_29 integer,
    age_30_34 integer,
    age_35_39 integer,
    age_40_44 integer,
    age_45_49 integer,
    age_50_54 integer,
    age_55_59 integer,
    age_60_64 integer,
    age_65_69 integer,
    age_70_74 integer,
    age_75_79 integer,
    age_80_84 integer,
    age_85_and_over integer,
    total_persons integer,
    females integer,
    males integer
)
"""

conn.execute(populationstats2016)

ps_data = pd.read_csv('PopulationStats2016.csv')
ps_data.columns = ['area_id', 'area_name', 'age_0_4', 'age_5_9', 'age_10_14', 'age_15_19', 'age_20_24', 'age_25_29', 'age_30_34', 'age_35_39', 'age_40_44', 'age_45_49', 'age_50_54', 'age_55_59', 'age_60_64', 'age_65_69', 'age_70_74', 'age_75_79', 'age_80_84', 'age_85_and_over', 'total_persons', 'females', 'males']
table_name = "populationstats2016"
ps_data.to_sql(table_name, con=conn, if_exists='append', index=False)

# Table HealthServices

In [ ]:
conn.execute("drop table if exists HealthServices;")

healthservices = """
create table HealthServices(
    id varchar(50) primary key,
    name varchar(100),
    category varchar(50),
    num_beds double precision,
    address varchar(100),
    suburb varchar(50),
    state varchar(50),
    postcode varchar(50),
    longitude float,
    latitude float,
    comment text,
    website text
)
"""

conn.execute(healthservices)

hs_data = pd.read_csv('HealthServices.csv')
hs_data.columns = ['id', 'name', 'category', 'num_beds', 'address', 'suburb', 'state', 'postcode', 'longitude', 'latitude', 'comment', 'website']
table_name = "healthservices"
hs_data.to_sql(table_name, con=conn, if_exists='append', index=False)

conn.execute("alter table healthservices add location GEOMETRY(Point,4326);")
conn.execute("update healthservices set location = ST_SetSRID(ST_MakePoint(longitude,latitude),4326);")

# Table NSW_Postcodes

In [11]:
conn.execute("drop table if exists NSW_Postcodes;")

nsw_postcodes = """
create table NSW_Postcodes(
    id varchar(50) primary key,
    postcode varchar(50),
    locality varchar(50),
    longitude float,
    latitude float
)
"""

conn.execute(nsw_postcodes)

np_data = pd.read_csv('NSW_Postcodes.csv')
np_data.columns = ['id', 'postcode', 'locality','longitude', 'latitude']
table_name = "nsw_postcodes"
np_data.to_sql(table_name, con=conn, if_exists='append', index=False)

conn.execute("alter table NSW_Postcodes add location GEOMETRY(Point,4326);")
conn.execute("update NSW_Postcodes set location = ST_SetSRID(ST_MakePoint(longitude,latitude),4326);")

# Table COVID19_Statistics

In [ ]:
conn.execute("drop table if exists COVID19_Statistics;")

covid19_statistics = """
create table COVID19_Statistics(
    site_id varchar(50) primary key,
    Centre_name varchar(100),
    Phone_number varchar(100),
    Opening_hours varchar(100),
    longitude float,
    latitude float,
    test_capacity integer
)
"""

conn.execute(covid19_statistics)

c19_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity.csv')
c19_data.columns = ['site_id', 'centre_name', 'phone_number', 'opening_hours','longitude', 'latitude', 'test_capacity']
table_name = "covid19_statistics"
c19_data.to_sql(table_name, con=conn, if_exists='append', index=False)

conn.execute("alter table covid19_statistics add location GEOMETRY(Point,4326);")
conn.execute("update covid19_statistics set location = ST_SetSRID(ST_MakePoint(longitude,latitude),4326);")

# TASK 1

## Table Sydney_Neighbourhoods

In [ ]:
conn.execute("drop table if exists Sydney_Neighbourhoods;")

Sydney_neighbourhood = """
CREATE TABLE Sydney_Neighbourhoods(
    area_id varchar(50) primary key,
    area_name varchar(50),
    land_area double precision,
    population integer,
    dwellings integer,
    businesses integer,
    median_income integer,
    avg_monthly_rent integer);

"""

conn.execute(Sydney_neighbourhood)

conn.execute("""
    INSERT INTO Sydney_Neighbourhoods 
    SELECT * FROM Neighbourhoods WHERE area_id IN (
            SELECT area_id FROM StatisticalAreas WHERE parent_area_id IN (
            SELECT area_id FROM StatisticalAreas WHERE parent_area_id IN (
            SELECT area_id FROM StatisticalAreas WHERE parent_area_id = '10')));
""")

## Table Census_data_From_Neighbourhoods

In [ ]:
conn.execute("drop table if exists Census_data_Neighbourhoods;")

Census_data_Neighbourhoods = """
create table Census_data_Neighbourhoods(
    area_id varchar(50) primary key,
    area_name varchar(50),
    population integer,
    age_0_4 integer,
    age_5_9 integer,
    age_10_14 integer,
    age_15_19 integer,
    age_20_24 integer,
    age_25_29 integer,
    age_30_34 integer,
    age_35_39 integer,
    age_40_44 integer,
    age_45_49 integer,
    age_50_54 integer,
    age_55_59 integer,
    age_60_64 integer,
    age_65_69 integer,
    age_70_74 integer,
    age_75_79 integer,
    age_80_84 integer,
    age_85_and_over integer);
"""

conn.execute(Census_data_Neighbourhoods)

conn.execute("""
    INSERT INTO Census_data_Neighbourhoods 
    SELECT n.area_id, n.area_name, population, 
    age_0_4, age_5_9, age_10_14, age_15_19, age_20_24, 
    age_25_29, age_30_34, age_35_39, age_40_44, age_45_49, 
    age_50_54, age_55_59, age_60_64, age_65_69, age_70_74, 
    age_75_79, age_80_84, age_85_and_over 
    FROM Neighbourhoods n JOIN PopulationStats2016 USING (area_id);
""")

## Read Geometry data and Spatial Join with neighbourhoods

In [6]:
from __future__ import (absolute_import, division, print_function)
import os
import json

import matplotlib as mpl
import matplotlib.pyplot as plt

from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame

data_path = "./SA2_2016_aust_shape/"

In [ ]:
import geopandas as gpd
areas = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") )
print("#cities: ", len(areas))

In [ ]:
areas.head().geom_type

In [7]:
import psycopg2
import psycopg2.extras

def pgconnect(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        conn = psycopg2.connect(**db_conn_dict)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return conn


credfilepath = os.path.join("data2x01_db.json")

conn = pgconnect(credfilepath)

connected

In [8]:
def pgquery( conn, sqlcmd, args=None, msg=False, returntype='tuple'):
    """ utility function to execute some SQL query statement
        it can take optional arguments (as a dictionary) to fill in for placeholders in the SQL
        will return the complete query result as return value - or in case of error: None
        error and transaction handling built-in (by using the 'wi=th' clauses)"""
    retval = None
    with conn:
        cursortype = None if returntype != 'dict' else psycopg2.extras.RealDictCursor
        with conn.cursor(cursor_factory = cursortype) as cur:
            try:
                if args is None:
                    cur.execute(sqlcmd)
                else:
                    cur.execute(sqlcmd, args)
                if (cur.description != None):
                    retval = cur.fetchall()
                if msg != False:
                    print("success: " + msg)
            except psycopg2.DatabaseError as e:
                if e.pgcode != None:
                    if msg: print("db read error: " + msg)
                    print(e)
            except Exception as e:
                print(e)
    return retval

In [ ]:
postgis_check = '''
SELECT PostGIS_Version();
'''
pgquery(conn,postgis_check)

In [ ]:
sydney_schema = '''CREATE TABLE sydney_table(
                  SA2_mean varchar(200) primary key,
                  SA2_id varchar(200) ,
                  SA2_name varchar(200),
                  SA3_id varchar(200),
                  SA3_name varchar(200),
                  SA4_id varchar(200),
                  SA4_name varchar(200),
                  GCC_id varchar(200),
                  GCC_name varchar(200),
                  STE_id varchar(200),
                  STE_name varchar(200),
                  areas float,
                  geometry GEOMETRY(MULTIPOLYGON, 4326)
                )''' 

pgquery(conn, "DROP TABLE IF EXISTS sydney_table", msg="cleared old table")
pgquery(conn, sydney_schema, msg="created sydney_table table")

In [ ]:
insert_stmt = """INSERT INTO sydney_table VALUES ( %(SA2_MAIN16)s, %(SA2_5DIG16)s, %(SA2_NAME16)s,%(SA3_CODE16)s,%(SA3_NAME16)s,%(SA4_CODE16)s,%(SA4_NAME16)s,%(GCC_CODE16)s,%(GCC_NAME16)s,%(STE_CODE16)s,%(STE_NAME16)s,%(AREASQKM16)s, 
                ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326)))"""

# create a new column called 'geom_wkt' with the "Well Known Text-Format (WKT)" of each geometry; used by SQL insert
areas['geom_wkt'] = areas['geometry'].apply(lambda x: x.wkt if x is not None else x)

# insert all countries using above's SQL Insert statement into the database
for idx, area in areas.iterrows():
    pgquery(conn, insert_stmt, args=area, msg="inserted "+str(area['SA2_NAME16']))

In [ ]:
query = "SELECT COUNT(*) FROM sydney_table"
result= pgquery(conn, query, returntype='dict')
from pprint import pprint 
print(result)

In [10]:
from pprint import pprint

## Create Index on GIST(geometry)

In [21]:
index_command = "CREATE INDEX areas_idx ON sydney_table USING GIST (geometry)"
result= pgquery(conn, index_command, returntype='dict')
pprint(result)

None

# Additional Table Destination_people

## Change the limit first!!

jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000

In [ ]:
import requests
import json
base_url = 'http://soit-app-pro-4.ucc.usyd.edu.au:3000/api/v1/json'

my_params= {'data' :'origin, destinations','format':'json','limit':'1'}
response = requests.get(base_url, params = my_params)

## Old table for load all the data

conn.execute("drop table if exists commuters;")

commuters = """
create table commuters(
    origin varchar(200),
    destination varchar(200),
    people integer
)
"""

conn.execute(commuters)

matches  = response.json()
num_matches = len(matches)

list = []
for i in range(0,num_matches):
    match_origin = matches[i]['origin']
    match_destinations = matches[i]['destinations']
    for j in range(0,len(match_destinations)):
        match_destination = match_destinations[j]['destination']
        match_people = match_destinations[j]['people']
        list.append([match_origin,match_destination,match_people])
            
df = pd.DataFrame (list)
df.columns = ['origin','destination','people']
table_name = "commuters"
df.to_sql(table_name, con=conn, if_exists='append', index=False)

## Extra table of commuters to refine scores

In [ ]:
conn.execute("drop table if exists commuters;")

commuters = """
create table commuters(
    origin varchar(200) primary key,
    sum_people integer
)
"""

conn.execute(commuters)

matches  = response.json()
num_matches = len(matches)

list = []
for i in range(0,num_matches):
    match_origin = matches[i]['origin']
    match_destinations = matches[i]['destinations']
    sum_people = 0
    for j in range(0,len(match_destinations)):
        sum_people += match_destinations[j]['people']
    list.append([match_origin,sum_people])
            
df = pd.DataFrame (list)
df.columns = ['origin','sum_people']
table_name = "commuters"
df.to_sql(table_name, con=conn, if_exists='append', index=False)

# Task 2 Compute scores and normalize

In [131]:
df = pd.read_sql_table('viral_vulnerability_sydney',conn, 
        columns=['area_id','population_density','population_age','healthservice_density','hospitalbed_density','sum_people'])
# df = df.to_numpy().transpose()

df = df.fillna(0)

In [133]:
def z_score(df):
    df.columns = [x + "_zscore" for x in df.columns.tolist()]
    return (df - df.mean())/df.std(ddof=0)
all_z_scores = z_score(df.iloc[:, [False, True, True, True, True, True]])

In [120]:
import math

def sigmoid(x):
  return 1 / (1 + math.exp(-x))

def normalize(data):
    result = []
    min_val = min(data)
    max_val = max(data)
    for val in data:
        normalized_score =(val-min_val) * 100 / (max_val - min_val)
        result.append(round(normalized_score))
    return result

# compute sum for each neighbourhood row to get the sum of z_scores
row_sum_of_z_scores = all_z_scores['population_density_zscore'] + all_z_scores['population_age_zscore']\
                      - all_z_scores['healthservice_density_zscore'] - all_z_scores['hospitalbed_density_zscore']\
                        + all_z_scores['sum_people_zscore']


# compute vulnerability for each neighbourhood
vulnerability = []
for i in row_sum_of_z_scores:
    vulnerability.append(sigmoid(i))
scores = normalize(vulnerability)

In [121]:
ids = df['area_id']
# test = df['sum_test_capacity']
# final_data = list(zip(ids,test,scores))
final_data = list(zip(ids,scores))

In [122]:
# name=['area_id','tests','score']
name=['area_id','score']
csvdf=pd.DataFrame(columns=name,data=final_data)
csvdf.to_csv('./result.csv',encoding='gbk')

# Table for final viral_vulnerability_score

In [123]:
conn.execute("drop table if exists viral_vulnerability_score;")

viral_vulnerability_score = """
create table viral_vulnerability_score(
    area_id varchar(50) primary key,
    score float
    );
"""

conn.execute(viral_vulnerability_score)

score_data = pd.read_csv('result.csv')
score_data = score_data.iloc[:, [False, True, True]]
table_name = "viral_vulnerability_score"
score_data.to_sql(table_name, con=conn, if_exists='append', index=False)

# Table for postcode_cases

In [102]:
conn.execute("drop table if exists postcode_cases;")

postcode_cases = """
create table postcode_cases(
    postcode varchar(50),
    cases integer
    );
"""

conn.execute(postcode_cases)

cases_data = pd.read_csv('postcode_cases.csv')
cases_data = cases_data.iloc[:, [False,True,True]]
table_name = "postcode_cases"
cases_data.to_sql(table_name, con=conn, if_exists='append', index=False)

## Table viral_vulnerability_sydney

In [124]:
conn.execute("drop table if exists viral_vulnerability_sydney;")

viral_vulnerability_sydney = """
create table viral_vulnerability_sydney(
    area_id varchar(50) primary key,
    area_name varchar(50),
    population_density float,
    population_age float,
    healthservice_density float,
    hospitalbed_density float,
    sum_test_capacity integer,
    sum_people float,
    score float,
    cases integer,
    geometry GEOMETRY(MULTIPOLYGON, 4326)
    );
"""

conn.execute(viral_vulnerability_sydney)

## Create Multicolumn Index for final table

In [20]:
index_multicolumn = "CREATE INDEX area_name_and_score ON viral_vulnerability_sydney (area_name,score);"
result= pgquery(conn, index_multicolumn, returntype='dict')
pprint(result)

None

## FINAL TABLE WITH DATA CLEANING

In [126]:
conn.execute("""
       INSERT INTO viral_vulnerability_sydney
       SELECT sn.area_id, sn.area_name,
       COALESCE(population*1.0/land_area,0) AS "population_density",
       COALESCE((age_70_74 + age_75_79 + age_80_84 + age_85_and_over)*1.0/population,0) AS "population_age",
       COALESCE(COUNT(DISTINCT h.id)*1.0/population*1000,0) AS "healthservice_density",
       COALESCE(SUM(COALESCE(h.num_beds,0))*1.0/population*1000.0,0) AS "hospitalbed_density",
       SUM(COALESCE(test_capacity,0)) AS "sum_test_capacity",
       COALESCE(cm.sum_people*1.0/population*1000.0,0) AS "sum_people",
       sco.score,
       MAX(COALESCE(cases,0)) AS "cases",
       st.geometry 
       FROM sydney_table st JOIN sydney_neighbourhoods sn ON st.SA2_mean = sn.area_id
                                        JOIN PopulationStats2016 USING(area_id)
                                        LEFT JOIN healthservices h ON (ST_Contains(st.geometry, h.location))
                                        LEFT JOIN covid19_statistics cs  ON (ST_Contains(st.geometry, cs.location))
                                        LEFT JOIN commuters cm ON sn.area_id = cm.origin
                                        LEFT JOIN viral_vulnerability_score sco USING(area_id)
                                        LEFT JOIN (SELECT postcode,cases,location
                                                   FROM postcode_cases RIGHT JOIN
                                                  (SELECT DISTINCT postcode,location
                                                   FROM nsw_postcodes) AS postcode_dis USING(postcode))
                                                   AS post_cases ON (ST_Contains(st.geometry, post_cases.location)) 
       GROUP BY sn.area_id,population_age,st.geometry,cm.origin,sco.area_id;
""")

# Final version table to csv

In [127]:
final_data = pd.read_sql_table('viral_vulnerability_sydney',conn)
final_data.to_csv('./final_table.csv',encoding='gbk')

# END

In [ ]:
conn.close()
db.dispose()